.logo-header{
  border: 2px solid #E8CAD7;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  background-color:#FDF6EE;
}
.tab-active{
  border: 2px solid #E8CAD7 ;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Pacifico', cursive;
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  background-color: #FEEAFD;

}
.tab{
  border: 2px solid #E8CAD7;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Pacifico', cursive;
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  background-color: #FEEAFD;

}

