.logo-header{
  border: 2px solid #E8CAD7;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  background-color:#F2F2F2;
}
.tab-active{
  border: 2px solid #E8CAD7 ;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  background-color: #F2F2F2;
}
.tab{
  border: 2px solid #E8CAD7;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  background-color: #F2F2F2;
}
